* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1d1d1d;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

h2 {
    margin: 10px 0;
}

.container {
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-of-jokes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px;
    border: 1px solid white;
    background: transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 5px 0;
}